
/* Defaults and Small Screen Designed for Mobile First */
#top-bar{
    max-width: inherit;
    background-color: #980013;
}

#images{
    text-align: center;
}

#nav-center{
    text-align: center;
}

#body{
    background-color: #e4e4e4;
}

#middle-bar{
    max-width: inherit;
    background-color: #b30027;
}

#works-area{

}

#achievements{
    background-color: #c6c6c6;
}

#images #ruby-logo{
    width: 80px;
    height: 80px
}

#images img{
    width: 60px;
    height: 60px;
}

#personal-description{
    display: block;
    font-size: 115%;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .35em;
    word-spacing: .5em;
    margin: .5em 0;
    text-align: center;
}

#name {
    font-size: 35px;
    display: block;
    font-family: 'Montserrat';
    color: white;
    text-transform: uppercase;
    margin: .5em 0;
    text-align: center;
}


#nav-center a{
    color: white;
    font-size: 20px;
    padding-left: 15px;
    font-family: Lustria,Georgia;
}


/* Medium Screen */
@media screen and (min-width: 40.063em) {

#nav-center a {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

#images #ruby-logo{
    width: 150px;
    height: 150px;
}

#images img{
    width: 100px;
    height: 100px;
}

#middle-bar{
    padding: 50px;
}

#name {
    font-size: 45px;
    display: block;
    font-family: 'Montserrat';
    color: white;
    text-transform: uppercase;
    letter-spacing: .35em;
    word-spacing: .5em;
    margin: .5em 0;
    text-align: center;
}

}

/* Large Screen */
@media only screen and (min-width: 64.063em) {


}


/* Fade in */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}